<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
    </head>

    <body>
        <aside class="sidebar" style="height: 100%; width: 250px; position: fixed; top: 0; left: 0; overflow-x: hidden; padding-top: 20px; background-color: palevioletred">

            <ul>
                <li>
                    @Html.ActionLink("Home", "Home", "Dashboard", null, new { style = "color: white; font-weight: bold; height: 50px; font-size: 18px; padding: 10px;" })
                </li>


                <li>
                    @Html.ActionLink("Profile", "Profile", "Dashboard", null, new { style = "color: white; font-weight: bold; height: 50px; font-size: 18px; padding: 10px;" })
                </li>


                @{
                    var userRole = Context.Request.Cookies["UserRole"];
                    @if (userRole == "faculty" || userRole == "Faculty")
                    {
                        <li>
                            @Html.ActionLink("Availability", "Availability", "Dashboard", null, new { style = "color: white; font-weight: bold; height: 50px; font-size: 18px; padding: 10px;" })
                        </li>
                    }
                    else
                    {
                        <li>
                            @Html.ActionLink("Faculty", "Faculty", "Dashboard", null, new { style = "color: white; font-weight: bold; height: 50px; font-size: 18px; padding: 10px;" })
                        </li>
                    }
                }
            </ul>
            

        </aside>

        <!-- Main content -->
        <div id="content" style="margin-left: 250px; padding: 20px;">
            @RenderBody()
        </div>

    </body>
</html>
