<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <!-- Include your CSS and other head elements here -->
</head>
<body>

    <div class="container">
        <div style="position: fixed; width: 100%; left: 0; bottom: 0; background-color: palevioletred; display: flex; justify-content: space-around; padding: 10px;">
            <a href="@Url.Action("Home", "Dashboard")" style="color: white; font-weight: bold; font-size: 20px; text-decoration: none">Home</a>
            <a href="@Url.Action("Setting", "Dashboard")" style="color: white; font-weight: bold; font-size: 20px; text-decoration: none">Setting</a>
            <a href="@Url.Action("Profile", "Dashboard")" style="color: white; font-weight: bold; font-size: 20px; text-decoration: none">Profile</a>
        </div>
    </div>

    <!-- Content from the child view will be placed here -->
    <div class="container">
        @RenderBody()
    </div>

</body>
</html>
