<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
    </head>

    <body>
        <aside class="sidebar" style="height: 100%; width: 250px; position: fixed; top: 0; left: 0; overflow-x: hidden; padding-top: 20px; background-color: palevioletred">

            <ul>
                <li>
                    @Html.ActionLink("Home", "Home", "Dashboard", null, new { style = "color: white; font-weight: bold; height: 50px; font-size: 18px; padding: 10px;" })
                </li>


                <li>
                    @Html.ActionLink("Profile", "Profile", "Dashboard", null, new { style = "color: white; font-weight: bold; height: 50px; font-size: 18px; padding: 10px;" })
                </li>


                @{
                    var userRole = Context.Request.Cookies["UserRole"];
                    @if (userRole == "faculty" || userRole == "Faculty")
                    {
                        <li>
                            @Html.ActionLink("Availability", "Availability", "Dashboard", null, new { style = "color: white; font-weight: bold; height: 50px; font-size: 18px; padding: 10px;" })
                        </li>
                    }
                    else
                    {
                        <li>
                            @Html.ActionLink("Faculty", "Faculty", "Dashboard", null, new { style = "color: white; font-weight: bold; height: 50px; font-size: 18px; padding: 10px;" })
                        </li>
                    }
                }
            </ul>
            

        </aside>

        @*<div id="sidebar" style="height: 100%; width: 250px; position: fixed; top: 0; left: 0; overflow-x: hidden; padding-top: 20px; background-color: palevioletred">

            <ul style="list-style: none;">
                <li style="height: 50px;">
                    <a href="@Url.Action("Home", "Dashboard")" data-item="dashboard" style="color: white; font-weight: bold"><i class="dashboard" style="color: white; font-weight: bold; font-size: 20px; "></i> Dashboard</a>
                </li>
                @if (Model.CurrentUser != null && Model.CurrentUser.Role != null)
                    {
                        if (!Model.CurrentUser.Role.Equals("Faculty") && !Model.CurrentUser.Role.Equals("faculty"))
                        {
                        <li style="height: 50px;">
                            <a href="@Url.Action("Faculty", "Dashboard")" data-item="faculty" style="color: white; font-weight: bold"><i class="faculty"></i> Faculty</a>
                        </li>
                        }
                        else
                        {
                        <li style="height: 50px;">
                            <a href="@Url.Action("Availability", "Dashboard")" data-item="availability" style="color: white; font-weight: bold"><i class="availability"></i> Availability</a>
                        </li>
                        }
                    }
                    else
                    {
                        <li>
                            <label>Null at SharedLayout</label>
                        </li>  
                    }
                <li style="height: 50px;">
                    <a href="@Url.Action("Profile", "Dashboard")" data-item="profile" style="color: white; font-weight: bold"><i class="profile"></i> Profile</a>
                </li>
            </ul>
        </div>*@


        <!-- Main content -->
        <div id="content" style="margin-left: 250px; padding: 20px;">
            @RenderBody()
        </div>

    </body>
</html>
