@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutWithTabs.cshtml";
}

<div>
    <h3 style="color: palevioletred; font-weight: bold; font-size: 20px">Welcome! Foram</h3>
</div>

<div style="position: fixed; width: 100%; left: 0; bottom: 0; background-color: palevioletred; display: flex; justify-content: space-around; padding: 10px;">
    <a href="@Url.Action("Home", "Dashboard")" style="color: white; font-weight: bold; font-size: 20px; text-decoration: none">Home</a>
    <a href="@Url.Action("Notification", "Dashboard")" style="color: white; font-weight: bold; font-size: 20px; text-decoration: none">Notification</a>
    <a href="@Url.Action("History", "Dashboard")" style="color: white; font-weight: bold; font-size: 20px; text-decoration: none">History</a>
    <a href="@Url.Action("Setting", "Dashboard")" style="color: white; font-weight: bold; font-size: 20px; text-decoration: none">Setting</a>
    <a href="@Url.Action("Profile", "Dashboard")" style="color: white; font-weight: bold; font-size: 20px; text-decoration: none">Profile</a>
</div>
