@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutWithTabs.cshtml";
}

@*@model WebFinalProject.Models.UserModel*@
<body>

    <!--<div id="sidebar" style="height: 100%; width: 250px; position: fixed; top: 0; left: 0; overflow-x: hidden; padding-top: 20px; background-color: palevioletred">

        <ul style="list-style: none;">
            <li style="height: 50px;">
                <a href="@Url.Action("Home", "Dashboard")" data-item="dashboard" style="color: white; font-weight: bold"><i class="dashboard" style="color: white; font-weight: bold; font-size: 20px; "></i> Dashboard</a>
            </li>-->
            @*@if (Model != null && !string.IsNullOrEmpty(Model.Role) && !Model.Role.Equals("Faculty") && !Model.Role.Equals("faculty"))
        {
            <li style="height: 50px;">
                <a href="@Url.Action("Faculty", "Faculty")" data-item="faculty" style="color: white; font-weight: bold"><i class="faculty"></i> Faculty</a>
            </li>
        }
        else
        {
            <li style="height: 50px;">
                <a href="@Url.Action("Availability", "Availability")" data-item="availability" style="color: white; font-weight: bold"><i class="availability"></i> Availability</a>
            </li>
        }*@

            <!--@if (Model.CurrentUser != null && Model.CurrentUser.Role != null)
            {
                if (!Model.CurrentUser.Role.Equals("Faculty") && !Model.CurrentUser.Role.Equals("faculty"))
                {
                    <li style="height: 50px;">
                        <a href="@Url.Action("Faculty", "Dashboard")" data-item="faculty" style="color: white; font-weight: bold"><i class="faculty"></i> Faculty</a>
                    </li>
                }
                else
                {
                    <li style="height: 50px;">
                        <a href="@Url.Action("Availability", "Dashboard")" data-item="availability" style="color: white; font-weight: bold"><i class="availability"></i> Availability</a>
                    </li>
                }
            }
            else
            {
                <li>
                    <label>Null at Dashboard</label>
                </li>

            }
            <li style="height: 50px;">
                <a href="@Url.Action("Profile", "Dashboard")" data-item="profile" style="color: white; font-weight: bold"><i class="profile"></i> Profile</a>
            </li>
        </ul>
    </div>-->

    <!-- Main content -->
    <div id="content" style="margin-left: 250px; padding: 20px;">
        @*@RenderBody()*@
    </div>

</body>